h1 {
  border: 2px solid red;
  /* display: inline; */
  height: 150px;
  width: 150px;
  margin: 50px;
}
b {
  border: 2px solid green;
  /* display: block; */
  height: 150px;
  width: 150px;
  margin: 50px;
}

div{
  height: 250px;
  width: 250px;
  border: 5px solid black;
  display: inline-block;
}
#one{
  background-color: red;
}
#two{
  background-color: green;
  /* display: none; */
  visibility: hidden;
}
#three{
  background-color: blue;
}
